In [ ]:
# Super Market Management System
from mysql.connector import connect, Error
from getpass import getpass
import matplotlib.pyplot as plt
import math
import numpy as np
import pandas as pd
import geopandas as gpd
from termcolor import colored
from IPython.display import display, Image
from datetime import date, datetime

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# for text bold
b_s = "\033[1m" # to start bold characters
b_e = "\033[0;0m" # to end bold characters

In [ ]:
# establishing the connection
try:
        conn = connect(
            host='localhost',
            user='root',
            password=getpass(b_s+'Enter password'+b_e),
            database='kwikmart'
        );
        display(Image(filename='Kwik Mart banner.png'))
except Error as e:
        print(e)

## Working with views, functions and stored procedures

### Views

#### 1) Employee Details: This view has only the basic details of all the active employees across all the stores. All the sensetive informations such as salary, SSN number, and higher level employess (CEO's) information has been hidden.

In [ ]:
query='''
    SELECT * FROM kwikmart.employee_details
    ''';
df = pd.read_sql(query, conn)
df

#### 2) Current month's store revenue: This view helps the upper management to track the current month's revenue along with the previous day revenue across all the stores.

In [ ]:
query='''
    SELECT * FROM kwikmart.current_month_store_revenue
    ''';
df = pd.read_sql(query, conn)
df

### Functions

#### 1) Net revenue for a particular store in a given date range: This helps each store track their performance across months or days.

In [ ]:
cursor = conn.cursor()

In [ ]:
func = "SELECT store_billing(%s, %s, %s)"
store_id = input(b_s+"Please enter store id: ")
start_date = input(b_s+"From date: ")
end_date = input(b_s+"Till date: ")

result = cursor.execute(func, [store_id, start_date, end_date])
print(b_s+f"Total revenue for store id {store_id} between {start_date} and {end_date} is: "+b_e, cursor.fetchone()[0],)

# 1 | 2022-01-01 | 2022-12-31

#### 2) Update discount for product: This function let store manager create new discount or update the previous discounts along with an option to make it active or inactive

In [ ]:
# item_ids : 5,8,12,58,99,127,147,169,181,205,211,213,216,235,261,267,282,285,302

In [ ]:
store_id = input(b_s+"Please enter store id: ")
item_id = input(b_s+"Please enter item id: ")

query='''
    SELECT * FROM kwikmart.discount
    WHERE store_id = %s AND item_id = %s
    ''';
df = pd.read_sql(query, conn, params= [store_id, item_id])

if df.empty:
    print(b_s+f"The discount for item id {item_id} does not exist. Please add the discount in next step. ")
else:
    display(df)
    
#1 1 | 285

In [ ]:
func = "SELECT update_discount(%s, %s, %s, %s)"
percent_off = input(b_s+"Please enter discount %: ")
is_active = input(b_s+"Please enter 1 to make discount live and 0 to remove discount: ")

result = cursor.execute(func, [store_id, item_id, percent_off, is_active])
print(cursor.fetchone())

df = pd.read_sql(query, conn, params= [store_id, item_id])
conn.commit()
df

#### 3) Net revenue for all stores in a given date range: This helps track their performance across months or days.

In [ ]:
func = "SELECT overall_billing(%s, %s)"
start_date = input(b_s+"From date: ")
end_date = input(b_s+"Till date: ")

result = cursor.execute(func, [start_date, end_date])
print(b_s+f"Total revenue for all stores between {start_date} and {end_date} is: "+b_e, cursor.fetchone()[0],)

# 2022-01-01 | 2022-12-31

#### 4) Create new bill: This function initiates a new bill and generate a bill_id in bill table.

In [ ]:
#create bill
func = "SELECT create_bill(%s, %s, %s)"
store_id = input(b_s+"Please enter store id: ")
phone_no = input(b_s+"Please enter phone number: ")
dt = date.today()
date_ = dt.strftime("%Y-%m-%d")

result = cursor.execute(func, [store_id, phone_no, date_])
bill_id = cursor.fetchone()[0]
print(b_s+f"Bill id {bill_id} generated. ")

conn.commit()
# 1 | 100-736-5070

### Stored procedures

#### Adding item to cart: This stored procedure let customers add one or more items to cart.

In [ ]:
def AddToCart(conn,bill_id,before_order):
    item = np.zeros(3,dtype=np.int)

    item_id = input(b_s+"Please enter item_id: ")
    quantity = input(b_s+"Please enter quantity: ")

    item[0] = bill_id
    item[1] = item_id
    item[2] = quantity
    
    qry = '''
    SELECT si.store_id, si.item_id, si.qty_in_stock FROM store_item si
    WHERE si.item_id = %s
    AND si.store_id = (SELECT b.store_id FROM bill b WHERE b.bill_id = %s)
    '''
    df = pd.read_sql(qry, conn, params=[item_id, bill_id])
    before_order = pd.concat([before_order, df], ignore_index=True)
    
    cursor.callproc('add_item_to_cart', item.tolist())
    conn.commit()
    
    return before_order

before_order = pd.DataFrame(columns = ['store_id', 'item_id', 'qty_in_stock'])
resp = 'Yes'

In [ ]:
# item_ids : 5,8,12,58,99,127,147,169,181,205,211,213,216,235,261,267,282,285,302

In [ ]:
# add item to bill

while resp == 'Yes':
    before_order = AddToCart(conn,bill_id,before_order)
    resp = input(f"Do you want to add more item Yes|No: ")

In [ ]:
#resp = 'Yes'

In [ ]:
print(b_s+"List of items and the Quantity in Stock before item billing.")
before_order

In [ ]:
qry = '''
    SELECT si.store_id, si.item_id, si.qty_in_stock FROM bill b
    JOIN bill_items bi ON bi.bill_id = b.bill_id
    JOIN store_item si ON si.store_id = b.store_id AND si.item_id = bi.item_id
    WHERE b.bill_id = %s
    '''
after_bill = pd.read_sql(qry, conn, params=[bill_id])
print(b_s+"List of items and the Quantity in Stock after item billing.")
after_bill

##### The above result helps us to visualize the working of Trigger that we have setup on 'bill_items' table.

#### 2) Generating the bill for customer: Using this stored procedure, we can print the receipt if a customer wants to. This receipt include all the details like Store address, billing time, Items, quantity, price and the discount offered.

In [ ]:
query=f'''
    SELECT bill.store_id from bill where bill.bill_id = {bill_id}
    ''';
df = pd.read_sql(query, conn)
store_id = df.store_id[0]

query=f'''
    SELECT CONCAT(store.street_name,", ",store.city,", ",store.zip_code) address from store where store_id = {store_id}
    ''';
df = pd.read_sql(query, conn)
store_addr = df.address[0]

cursor.callproc('get_bill_amount', [bill_id])
get_bill_amount_results = cursor.stored_results()

print(b_s+f'%15s %30s %15s' % ('', 'KwikMart Supermarket', ''))
print(b_s+f'%18s %30s %15s' % ('', store_addr, ''))
print(b_s+f'%18s %30s %15s' % ('', datetime.today(), ''))
print(b_s+f'%14s %30s %10s' % ('', f'Bill Number: {bill_id}', ''))
print()

idx = 0;
table_content = []
total = 0;
net = 0;
total_discount = 0
print('%30s  %12s  %12s' % ('Item', 'Quantity', 'Amount'))
print('â”€' * 60)
for r in get_bill_amount_results:
    if (idx == 0):
        for value in r.fetchall():
            item_name = value[0];
            quantity = value[1];
            unit_price = value[2];
            item_discount = value[3];
            item_net = value[4];
            line = '%30s  %12s  %12s' % (item_name, quantity, unit_price)
            print(line)
            if (item_discount != 0) :
                print('%45s %12s' % ('Discount: ', item_discount))
        print('â”€' * 60)
                
    if (idx == 1):
        for value in r.fetchall():
            net = value[0]
    if (idx == 2):
        for value in r.fetchall():
            total_discount = value[0]
    if (idx == 3):
        for value in r.fetchall():
            total = value[0]
    idx = idx + 1;
    
print('%45s %12s' % ('Total', total))
print('%45s %12s' % ('Discount', total_discount))
print('%45s %12s' % ('Net', net))

#### Item availability at other stores: This stored procedure helps store person to recommend other nearby stores to the customer for any particular item. This helps customer to procure the items from nearby stores for unavailable items.

In [ ]:
# item_ids : 5,8,12,58,99,127,147,169,181,205,211,213,216,235,261,267,282,285,302

In [ ]:
store_id = input(b_s+"Please enter Store Id: ")
item_id = input(b_s+"Please enter Item Id: ")

cursor.callproc('item_store_check', [store_id, item_id,])
results = cursor.stored_results()

for r in results:
    for value in r.fetchall():
        addr = value[3]
        quantity = value[2]
        print(b_s+f"Store Address: {addr} Quantity: {quantity} ")

## Some data trends at Kwik Mart

### Looking at the category wise revenue across all stores

In [ ]:
def getCategoriesRevenue(conn, start_date, end_date):
    query='''
    SELECT c.category_name AS Category_Name ,SUM(bi.quantity * bi.net_price) AS Revenue
    FROM bill b
    JOIN bill_items bi ON bi.bill_id = b.bill_id
        AND b.bill_date >= %s and b.bill_date <= %s
    JOIN item i ON i.item_id = bi.item_id
    JOIN category c ON c.category_id = i.category_id
    GROUP BY Category_Name
    ORDER BY Revenue DESC
    ''';
    
    # function to add value labels
    def addlabels(x,y):
        for i in range(len(x)):
            amt = '$'+str(math.trunc(y[i]))
            plt.text(i, y[i]//4, amt, ha = 'center',
                     bbox = dict(facecolor = 'white', alpha =.8),
                    rotation = 90)
        
    value_tuple=(start_date, end_date);
    df = pd.read_sql(query, conn, params=[start_date, end_date])
    plt.figure(figsize=(15, 5))
    plt.bar(df.Category_Name, df.Revenue)
    plt.xticks(rotation=90)
    
    addlabels(df.Category_Name, df.Revenue)
    
    # Add labels and a title.
    plt.xlabel('Categories', labelpad=10, color='#333333',weight='bold')
    plt.ylabel('Net Revenue', labelpad=10, color='#333333',weight='bold')
    plt.title(f'Category wise revenue between [{start_date} , {end_date}]', pad=15, color='#333333',weight='bold')

    plt.show()

In [ ]:
# calling getCategoriesRevenue function
print(b_s+"Category wise sales across all stores, please enter the date range:"+b_e)
cat_rev_start = input(b_s+"From date: "+b_e)
cat_rev_end = input(b_s+"Till date: "+b_e)
getCategoriesRevenue(conn, cat_rev_start, cat_rev_end)
#2022-01-01 | 2022-12-31

### State wise no of stores and revenue

In [ ]:
def numOfstoresVsRevenue(conn):
    query1 = '''
    Select t1.state, t1.numOfStores, t2.revenue from
    (select count(*) as numOfStores, store.state
    from store
    group by store.state
    order by store.state) t1 join 
    (    select store.state, SUM(revenue) as revenue
    from store left outer join (
    select bill.store_id, Sum(bill_items.quantity * bill_items.net_price) as revenue
    from bill, bill_items
    where bill.bill_id = bill_items.bill_id
    group by bill.store_id) temp
    on store.store_id = temp.store_id
    group by store.state) t2
    where t2.state = t1.state
    order by t1.numOfStores
    ''';
    
    df = pd.read_sql(query1, conn);
    return df

In [ ]:
# calling function
df = numOfstoresVsRevenue(conn)
df.rename(columns={"state": "NAME"},inplace=True)
di = {"SouthDakota":"South Dakota", "WestVirginia":"West Virginia", "RhodeIsland":"Rhode Island", "NewHampshire":"New Hampshire", 
                "NewMexico":"New Mexico", "NorthDakota": "North Dakota","NewJersey":"New Jersey"}
df = df.replace({"NAME": di})

# getting latitude and longitude for each state
df_lat_long = pd.read_csv("US_States_lat_lon_final.csv")
df_states = df_lat_long.merge(df,on='NAME',how='outer')
df_states[["numOfStores","revenue"]] = df_states[["numOfStores","revenue"]].fillna(0)
df_states.head()

In [ ]:
# url of our shape file 
path=r"C:\Users\agraw\Documents\Git\DS5110\Python implementation\cb_2018_us_state_20m"
# load the shape file using geopandas
geo_usa = gpd.read_file(path+'\cb_2018_us_state_20m.shp')

# merge usa_state data and geo_usa shapefile
geo_merge=geo_usa.merge(df_states,on='NAME',how='outer')

indexRow = geo_merge[ (geo_merge.NAME == 'Alaska') | (geo_merge.NAME == 'Hawaii') | (geo_merge.NAME == 'Puerto Rico')].index
geo_merge.drop(indexRow , inplace=True)
geo_merge.reset_index(drop=True, inplace=True)

# plot state wise number of stores
geo_merge.plot(column='numOfStores', figsize=(25, 15),legend=True,cmap='summer')
plt.xlim(-130,-60)
plt.ylim(20,55)
# add countries names and numbers 
for i in range(len(geo_merge)):
    plt.text(geo_merge.lon[i],geo_merge.lat[i],"{}\n   {}".format(geo_merge.NAME[i],int(geo_merge.numOfStores[i])),size=10)
plt.title('Number of stores by States',pad=25,fontsize=25)
plt.show()

In [ ]:
# plot state wise revenue
geo_merge.plot(column='revenue',scheme="quantiles", figsize=(25, 15),legend=True,cmap='summer')
plt.xlim(-130,-60)
plt.ylim(20,55)
# add countries names and numbers 
for i in range(len(geo_merge)):
    plt.text(geo_merge.lon[i],geo_merge.lat[i],\
             "\n{}\n ${}".format(geo_merge.NAME[i],int(geo_merge.revenue[i])),size=10)
plt.title('Revenue by States',pad=25,fontsize=25)
plt.show()

### Quarter-wise business performance based on Revenue

In [ ]:
def revenueInEachQuarter(conn, year):
    query='''
    SELECT CEILING(MONTH(b.bill_date)/3) AS quarter, SUM(bi.net_price*bi.quantity) net_revenue
    FROM bill_items bi
    JOIN bill b ON b.bill_id = bi.bill_id
    WHERE b.bill_date LIKE %s
    GROUP BY 1
    ORDER BY quarter
    ''';
    
    value_tuple = (year+'%',)
    df = pd.read_sql(query, conn,params = value_tuple)
    idx = df[['net_revenue']].idxmax()
    myexplode = np.zeros(len(df.quarter))
    myexplode[idx[0]] = 0.1
    
    plt.figure(figsize=(7, 7))
    plt.pie(df.net_revenue, labels = df.quarter,autopct='%.0f%%', explode = myexplode)
    plt.title(f'Quarterly Revenue for year {year}',pad=10,fontsize=15)

    plt.show()

In [ ]:
# pie-chart to visulize quarterly performance
qtr_year = input(b_s+"Quarterly performance, please enter the year: "+b_e)
revenueInEachQuarter(conn,qtr_year)

In [ ]:
conn.close()
cursor.close()